# Java / Spring Boot
*.class
*.jar
*.war
*.iml
*.log
target/
bin/
out/

# IDE files
.idea/
*.ipr
*.iws
*.swp

# Environment / secrets
#application.properties
#.env
/src/main/resources/application.properties
/.env

